/* Global Rule's */
:root {
  --main-color: #19283f;
  --sec-color: #33d1cc;
  --white: #FFF;
  --red: #ff3150;
  --my-trans: 0.3s;
  --section: #eff7fa;
  --yellow: #ffc400;
}

body {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sec-color);
  box-shadow: 0 0 30px 30px var(--sec-color);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.8);
}

.main-tittle::after {
  content: "";
  width: 120px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: -20px;
  background-color: var(--sec-color);
}

/* End Global Rule's */

/* Start navbar */
.navbar {
  background-color: var(--main-color);
  min-height: 72px
}

.navbar .nav-link {
  color: var(--white);
  font-size: 17px;
  transition: var(--my-trans);
}

.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: var(--sec-color);
}

.navbar .search {
  border-left: 1px solid var(--sec-color);
  font-size: 15px;
}

.navbar .search i {
  color: var(--white);
  cursor: pointer;
}

.navbar .navbar-toggler {
  padding: 10px 15px;
  border: 1px solid var(--white);
}

.navbar .navbar-toggler i {
  font-size: 27px;
  color: var(--white);
}

.navbar-toggler:focus {
  box-shadow: 0 0 4px 3px var(--sec-color);
}

.main-btn {
  background-color: var(--red);
  padding: 0.5rem 1rem;
  color: var(--white);
  transition: var(--my-trans);
}

.second-btn {
  background-color: var(--main-color);
  color: var(--yellow);
  font-weight: bold;
}

.second-btn:hover,
.second-btn:focus {
  background-color: var(--main-color);
  color: var(--yellow);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--red);
  color: var(--yellow);
  opacity: 0.7;
}

/* End navbar */


/* Start Landing */
.landing {
  background-color: var(--main-color);
  min-height: calc(100vh - 72px);
}

.landing .text-center h1 {
  letter-spacing: 2px;
}

.landing .text-center p {
  letter-spacing: 0.5px;
}

/* End Landing */

/* Start features */
.features .cont-icon {
  height: 200px;
}

.features .cont-icon i {
  left: 50%;
  transform: translateX(-50%)
}

.features .cont-icon .number {
  font-size: 12rem;
  color: var(--section);
}

.features .cont-icon .icon {
  color: var(--sec-color);
}

.features .feat h3 {
  color: var(--yellow);
}

/* End features */

/* Starat Works */
.works {
  background-color: var(--section);
}

.works ul li {
  padding: 10px 15px;
  cursor: pointer;
  transition: var(--my-trans);
  border-radius: 4px;
}

.works ul li.active {
  background-color: var(--red);
  color: var(--white);
}

.works ul li:hover {
  color: var(--red);
}

.works .box {
  overflow: hidden;
  cursor: pointer;
}

.works .box::after {
  content: attr(data-work);
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33d1ccb0;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF;
  transition: var(--my-trans);
}

.works .box:hover::after {
  left: 0;
}

/* End Works */

/* Start stuff */
.stuff .description {
  max-width: 500px;
}

.stuff .row .text h3 {
  color: var(--yellow);
}

/* End stuff */

/* Start team */
.team {
  background-color: var(--section);
}

.team .desc h3 {
  color: var(--yellow);
  letter-spacing: -1px;
  font-size: 2rem;
}

.team .desc p {
  max-width: 500px;
}

.team .box h4 {
  background-color: var(--sec-color);
}

/* End team */

/* Start project */
.project {
  background-color: var(--main-color);
}

.project h3 {
  color: var(--yellow)
}

/* End project */
/* Start blog */
.blog .card {
  cursor: pointer;
  transition: var(--my-trans)
}

.blog .card:hover {
  transform: translateY(-10px);
}

/* end blog */

/* Start subscribe */
.subscribe {
  background-color: var(--yellow)
}

.subscribe form input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--white);
  color: var(--white);
  font-weight: bold;
}

.subscribe form input[type="text"]::placeholder {
  color: var(--white);
}

/* End subscibe */

/* Start Footer */
.footer {
  background-color: var(--main-color);
}

.footer .copyright span:first-child {
  color: var(--sec-color);
}

.footer .copyright div span {
  color: var(--yellow) !important;
}

.footer .links li {
  cursor: pointer;
  transition: var(--my-trans);
}

.footer .links li:hover {
  color: var(--white);
  transform: translateX(10px);
}

.footer .social {
  gap: 20px;
}

@media(min-width:0px) and (max-width:992px) {
  .social{
    justify-content: center;
  }
}

.footer .social i {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  transition: var(--my-trans);
}
.footer .social i:hover{
  transform: translateY(-5px);
}
.footer .social i.facebook{
  background-color: #1877f2;
}
.footer .social i.twitter {
  background-color: #1da1f2;
}
.footer .social i.linked {
  background-color: #0077b5;
}
.footer .social i.youtube {
  background-color: #ff0000;
}
/* End Footer */